/* Fondo de la página */
body {
    background-color: #B5F4FF;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
}

/* Estilo del título principal */
h1 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 20px; /* Espaciado superior */
}
/* Cabecera */
header {
    background-color: #007bff;
    padding: 10px 0;
    border-radius: 15px; /* Bordes redondeados */
}

/* Menú de navegación */
nav ul {
    list-style: none;       /* Quitar puntos */
    padding: 0;
    margin: 0;
    text-align: center;     /* Centrar enlaces */
}

nav ul li {
    display: inline-block;  /* Alineados en fila */
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;  /* Quitar el subrayado */
    font-size: 18px;
    transition: color 0.3s; /* Efecto de transición suave */
}

nav ul li a:hover {
    color: #d3d3d3; /* Gris claro al pasar el ratón */
}

/* Estilos de la sección de contenido */

#contenido {
    padding: 20px;
    text-align: center; /*centrar todo lo de dentro */
}

/* Título de sección */
#contenido h2 {
    font-size: 28px;
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Texto del párrafo */
#contenido p {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px; /* Espaciado inferior */
}

/* Imagen */
#contenido img {
    width: 300px; /* Ancho fijo */
    border-radius: 10px; /* Bordes redondeados */ 
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px; /* Espaciado interno */
    margin-top: 20px; /* Separación del contenido */
    border-radius: 10px; /* Bordes redondeados */
}

/* FLEXBOX en la sección de contenido */
#contenido {
    display: flex; 
    flex-direction: column;  /* Colocar elementos en columna */
    align-items: center;     /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente si hiciera falta */
    padding: 20px; /* Espaciado interno */
}

/* Márgenes en las secciones */
section {
    margin: 20px;
}

/* Márgenes en los párrafos */
p {
    margin: 10px 0;
}

/* Bordes o sombra en imágenes */
img {
    box-shadow: 0px 0px 10px rgba(0,0,0,15);
}

/* Sección Inicio */
#inicio {
    text-align: center;
    padding: 20px;
}

/* Contenedor de logos */
.logos {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 20px;               /* Espacio entre imágenes */
}

/* Logos */
.logos img {
    width: 120px;
    height: auto;
    cursor: pointer;
}

/* Imagen de perfil */
#contenido img {
    width: 150px;
    border-radius: 50%; /* Imagen ovalada */
    margin-bottom: 15px;
}

/* Subtítulos */
#contenido h3 {
    margin-top: 20px;
}

/* Listas */
#contenido ul,
#contenido ol {
    text-align: left;   /* texto alineado a izquierda */
    max-width: 400px;
    margin: 10px auto;
}
