body {
background-color: #B5F4FF;
font-family: Arial, sans-serif;
}


h1 {
font-family: Helvetica, sans-serif;
}


header {
background-color: #007bff;
padding: 15px;
border-radius: 10px;
}


nav a {
color: white;
text-decoration: none;
margin-right: 15px;
}


nav a:hover {
color: black;
}


#contenido {
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}


#contenido h2 {
font-size: 28px;
}


#contenido p {
font-size: 18px;
color: #333;
margin-bottom: 15px;
}


#contenido img {
max-width: 100%;
height: auto;
border-radius: 8px;
box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}


footer {
background-color: #333;
color: white;
text-align: center;
padding: 15px;
margin-top: 30px;
border-radius: 8px;
}